<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/Upload_Panoramic_View">Upload Panoramic View  </a>
    <a href="/View_Panoramic_Scene">View Panoramic Scene  </a>
    <a href="/Sign_UP">Sign UP  </a>

  </body>
</html>
